     <header>
        <nav>
            <div class="logo">
                <img src="/public/image/헤븐트리 로고_가로긴거.png" alt="">
            </div>
            <div class="gnb">
                <button class="header-btn" type="button" id="move-productRegister">물품등록</button>
                <button class="header-btn" type="button" id="move-productManage">물품관리</button>
                <button class="header-btn" type="button" id="move-rentalList">대여현황</button>
                <button class="header-btn" type="button" id="move-userStatus">나의 현황</button>
                <button class="header-btn" type="button" id="move-userManage">이용자 관리</button>
            </div>
            <div class="lnb">
                <% if(!user) { %>
                    <a href="/signinForm">로그인</a>
                    <a href="/signupForm">계정생성</a>
                <% }else { %>
                    <a href="/users/logout" class="navChild">Logout</a>
                <%}%>
            </div>
        </nav>
     </header>

    
