        <div class="Nav">
            <ul>
                <li><a href="/products/register" class="navChild">물품등록</a></li>
                <li><a href="/products/manage" class="navChild">물품관리</a></li>
                <li><a href="" class="navChild">대여현황</a></li>
                <li><a href="/users/status" class="navChild">나의 현황</a></li>
                <li><a href="" class="navChild">관리자</a></li>
                <li><a href="/users/logout" class="navChild">Logout</a></li>
            </ul>            
        </div>
    
