<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/header.css" />
</head>

<body>
    
        <div class="Nav">
            <ul>
                <li><a href="/products/register" class="navChild">물품등록</a></li>
                <li><a href="" class="navChild">물품관리</a></li>
                <li><a href="" class="navChild">대여현황</a></li>
                <li><a href="" class="navChild">나의 현황</a></li>
                <li><a href="" class="navChild">관리자</a></li>
                <li><a href="" class="navChild">Logout</a></li>
            </ul>            
        </div>
    
</body>

</html>