<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/rentalForm.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="form">
            <div class="form-header">
                <h2>물품대여</h2>
            </div>
            <div class="form-body">
                <ul>
                    <li>
                        <p class="sub-title">물품: <span>
                                <%=product.productName%>
                            </span></p>
                    </li>
                    <li>
                        <p class="sub-title">물품코드: <span id="product-code">
                                <%=product.productCode%>
                            </span></p>
                    </li>
                    <li>
                        <p class="sub-title">잔여 수량:<span>
                                <%=product.quantity%>
                            </span></p>
                    </li>
                    <li>
                        <p class="sub-title">대여 목적:</p> <input id="reason-input" type="text">
                    </li>
                    <% if(product.returnAvailability == 1) {%>
                    <li>
                        <p>대여기간 설정</p>
                        <input class="date-local" id="rental-start" type="datetime-local">
                        ~
                        <input class="date-local" id="rental-end" type="datetime-local">
                    </li>
                <% } %>
                </ul>
                <div class="btns">
                    <button type="button" id="rental-btn">대여</button>
                    <button type="button" id="cancle-btn">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#rental-btn').click(function () {
            console.log('클릭')
            const productCode = $('#product-code').text()
            const issuedate = $('#rental-start').val()
            const duedate = $('#rental-end').val()
            const reason = $('#reason-input').val()
            const data = { productCode, issuedate, duedate, reason }

            $.post('/products/rent', data)
                .done((res) => {
                    console.log(res)
                    alert(res.message)
                    window.close()
                })
                .fail((res) => {
                    alert(res.responseJSON.message)
                })
        })

        var now_utc = Date.now() // 지금 날짜를 밀리초로
        // getTimezoneOffset()은 현재 시간과의 차이를 분 단위로 반환
        var timeOff = new Date().getTimezoneOffset() * 60000; // 분단위를 밀리초로 변환
        // new Date(today-timeOff).toISOString()은 '2022-05-11T18:09:38.134Z'를 반환
        var today = new Date(now_utc - timeOff).toISOString().substring(0, 16);
        //document.getElementsByClassName("date-local").setAttribute("min", today);
        $('.date-local').attr('min', today)
    </script>
</body>

</html>