<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/user/signinForm.css" />
    <link rel="stylesheet" href="../public/css/header.css" />
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

</head>
<body>
    <%- include('header') -%>
    <div class="container">
        <form action="/users/" method="post" class="form" id="form">
            <h2>Sign In</h2>
            <div class="line"></div>

            <div class="input-form margin-top">
                <label for="username">사번</label>
                <input name="employeeNumber" type='number' id="employeeNumber" placeholder="사번을 입력하세요">
                <!-- <small>Error Message</small> -->
            </div>

            <div class="input-form margin-top">
                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="Enter Password">
                <!-- <small>Error Message</small> -->
            </div>
            <div class="location-btns margin-top">
                <button class="purple" type="button" onclick="location.href='/signupForm';"> 계정생성 </button>
                <button class="green" type="button" id="signinBtn">Sign In</button>
            </div>
        </form>

    </div>
</body>
<script>
    $("#signinBtn").click(function () {    // parameter가 있는 형태
    let password = $('#password').val();
    let employeeNumber = $('#employeeNumber').val();

    let data = {password, employeeNumber}
    console.log(data)    
    $.post('/users/signin',data)
    .done(() => {location.href = "/products/manage";})
    .fail((res) => {
        alert(res.responseJSON.message)
    })
});
</script>
<script src="../public/js/header.js"></script>

</html>