* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li a{
    color: black;
    text-decoration: none;
}

.Nav {
    margin: 0 auto;
    width: 80%;
    border: 1px solid red; 
}