* {
    box-sizing: border-box;
}

button{
    filter: brightness(1);
    cursor: pointer;
}

button:hover{
    filter: brightness(0.7);
}

.container {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.border-left{
    border-left: 1px solid black;
}

.padding{
    padding: 10px;
}

.register-form {
    font-size:large;
    border-radius: 5px;
    margin-top: 15px;
    border: 1px solid black;
}

.head-line {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.form-control {
    border-bottom: 1px solid black;
}


h3 {
    text-align: center;
}

.register-form,
.register-excel-form {
    width: 80%;
    /* border: 1px solid blue; */
}

.category {
    display: flex;
}

.category .form-control {
    width: 50%;
}

.main-category-input,
.select-main,
.sub-category-input,
.select-sub {
    width: 50%;
}

.margin-top {
    margin-top: 10px;
}

.main-category,
.sub-category,
.product-code-section,
.quantity-section {
    display: flex;
}

.main-category select,
.sub-category select {
    width: 50%;
}

.product-name-section,
.quantity-section,
.product-code-section {
    display: flex;
    justify-content: space-between;

}

.product-name-section div,
.product-code-section div,
.quantity-section div {
    width: 25%;
}

.product-name-section input,
.product-code-section input,
.quantity-section input {
    width: 74.8%;
}

.grey {
    background-color: lightgrey;
}

.register-btns {
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.register-btns button {
    width: 25%;
    border-radius: 5px;
    border: none;
}

/* -----------------------------엑셀폼 관련css -----------------------*/

.register-excel-form {
    font-size: large;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid black;
    background-color: lightgray;
    padding: 20px;
}

.excel-headline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    margin-bottom: 10px;
}

/* 파일 인풋 관련 css */
.filebox {
    display: flex;
    justify-content: space-between;
}

.filebox .upload-name {
    display: inline-block;
    height: 40px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}

.filebox label {
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #999999;
    cursor: pointer;
    height: 40px;
    margin-left: 10px;
    width: 27%;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

/* 엑셀 양식 다운 및 등록 버튼css */
.excel-logo {
    width: 20px;
    height: 20px;
}

#test {
    height: 40px;
}

#excel-down-btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.excel-btns {
    display: flex;
    justify-content: space-between;
}



.excel-btns button {
    border-radius: 5px;
    width: 46%;
    border: none;
}


.red {
    background-color: red;
    color: whitesmoke;
}

.purple {
    background-color: blueviolet;
    color: whitesmoke;
}

.green {
    background-color: rgb(61, 116, 7);
    color: whitesmoke;
}

.color {
    background-color: blue;
    color: whitesmoke;
}