<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: antiquewhite;
        }
        div{
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 35px;
        }
    </style>
</head>
<body>
    <div>
        <strong>System 에러가 발생했습니다<br/> 잠시후 다시 시도해 주세요</strong>
    </div>
</body>
</html>